body {
    margin: 0 auto;
    max-width: 1440px;
    a {
        text-decoration: none;
    }
    p, h1, h2, h3 {
        margin: 0;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    img {
        display: block;
        max-width: 100%;
        height: 100%;
    }
}